[Desktop Entry]
Name=avarex
Comment=AvareX Flight Support
Exec=avarex
Icon=${SNAP}/meta/gui/avarex.png
Terminal=false
Type=Application
Categories=Utilities;