name: Arm64-Linux

on: push

jobs:

  build-and-release:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Find and Replace OpenAIP
        uses: richardrigutins/replace-in-files@v2
        with:
          files: '**/*.dart'
          search-text: '@@___openaip_client_id__@@'
          replacement-text: ${{ secrets.OPENAIP_CLIENT_ID }}
          encoding: 'utf8'
          max-parallelism: 10

      - name: Build Flutter
        run: export PATH=${PATH}:/home/zkhan/flutter/bin && flutter build linux --release

      - name: Integration Test
        run: export PATH=${PATH}:/home/zkhan/flutter/bin && flutter test integration_test/app_test.dart -d linux
        
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: RaspberryPi
          path: build/linux/arm64/release/bundle/*
