name: Arm64-Linux

on: push

jobs:

  build-and-release:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Find and Replace NMS FAA
        uses: richardrigutins/replace-in-files@v2
        with:
          files: '**/*.dart'
          search-text: '@@__faa_nms_api_client_id_secret__@@'
          replacement-text: ${{ secrets.FAA_NMS_API_CLIENT_ID_SECRET }}
          encoding: 'utf8'
          max-parallelism: 10

      - name: Integration Test
        run: |
          echo aW1wb3J0ICdwYWNrYWdlOmZpcmViYXNlX2NvcmUvZmlyZWJhc2VfY29yZS5kYXJ0JyBzaG93IEZpcmViYXNlT3B0aW9uczsKaW1wb3J0ICdwYWNrYWdlOmZsdXR0ZXIvZm91bmRhdGlvbi5kYXJ0JwogICAgc2hvdyBkZWZhdWx0VGFyZ2V0UGxhdGZvcm0sIGtJc1dlYiwgVGFyZ2V0UGxhdGZvcm07CgpjbGFzcyBEZWZhdWx0RmlyZWJhc2VPcHRpb25zIHsKICBzdGF0aWMgRmlyZWJhc2VPcHRpb25zIGdldCBjdXJyZW50UGxhdGZvcm0gewogICAgaWYgKGtJc1dlYikgewogICAgICByZXR1cm4gd2ViOwogICAgfQogICAgc3dpdGNoIChkZWZhdWx0VGFyZ2V0UGxhdGZvcm0pIHsKICAgICAgY2FzZSBUYXJnZXRQbGF0Zm9ybS5hbmRyb2lkOgogICAgICAgIHJldHVybiBhbmRyb2lkOwogICAgICBjYXNlIFRhcmdldFBsYXRmb3JtLmlPUzoKICAgICAgICByZXR1cm4gaW9zOwogICAgICBjYXNlIFRhcmdldFBsYXRmb3JtLm1hY09TOgogICAgICAgIHJldHVybiBtYWNvczsKICAgICAgY2FzZSBUYXJnZXRQbGF0Zm9ybS53aW5kb3dzOgogICAgICAgIHJldHVybiB3aW5kb3dzOwogICAgICBjYXNlIFRhcmdldFBsYXRmb3JtLmxpbnV4OgogICAgICAgIHRocm93IFVuc3VwcG9ydGVkRXJyb3IoCiAgICAgICAgICAnRGVmYXVsdEZpcmViYXNlT3B0aW9ucyBoYXZlIG5vdCBiZWVuIGNvbmZpZ3VyZWQgZm9yIGxpbnV4IC0gJwogICAgICAgICAgJ3lvdSBjYW4gcmVjb25maWd1cmUgdGhpcyBieSBydW5uaW5nIHRoZSBGbHV0dGVyRmlyZSBDTEkgYWdhaW4uJywKICAgICAgICApOwogICAgICBkZWZhdWx0OgogICAgICAgIHRocm93IFVuc3VwcG9ydGVkRXJyb3IoCiAgICAgICAgICAnRGVmYXVsdEZpcmViYXNlT3B0aW9ucyBhcmUgbm90IHN1cHBvcnRlZCBmb3IgdGhpcyBwbGF0Zm9ybS4nLAogICAgICAgICk7CiAgICB9CiAgfQoKICBzdGF0aWMgY29uc3QgRmlyZWJhc2VPcHRpb25zIHdlYiA9IEZpcmViYXNlT3B0aW9ucygKICAgIGFwaUtleTogJycsCiAgICBhcHBJZDogJycsCiAgICBtZXNzYWdpbmdTZW5kZXJJZDogJycsCiAgICBwcm9qZWN0SWQ6ICcnLAogICAgYXV0aERvbWFpbjogJycsCiAgICBzdG9yYWdlQnVja2V0OiAnJywKICAgIG1lYXN1cmVtZW50SWQ6ICcnLAogICk7CgogIHN0YXRpYyBjb25zdCBGaXJlYmFzZU9wdGlvbnMgYW5kcm9pZCA9IEZpcmViYXNlT3B0aW9ucygKICAgIGFwaUtleTogJycsCiAgICBhcHBJZDogJycsCiAgICBtZXNzYWdpbmdTZW5kZXJJZDogJycsCiAgICBwcm9qZWN0SWQ6ICcnLAogICAgc3RvcmFnZUJ1Y2tldDogJycsCiAgKTsKCiAgc3RhdGljIGNvbnN0IEZpcmViYXNlT3B0aW9ucyBpb3MgPSBGaXJlYmFzZU9wdGlvbnMoCiAgICBhcGlLZXk6ICcnLAogICAgYXBwSWQ6ICcnLAogICAgbWVzc2FnaW5nU2VuZGVySWQ6ICcnLAogICAgcHJvamVjdElkOiAnJywKICAgIHN0b3JhZ2VCdWNrZXQ6ICcnLAogICAgaW9zQnVuZGxlSWQ6ICcnLAogICk7CgogIHN0YXRpYyBjb25zdCBGaXJlYmFzZU9wdGlvbnMgbWFjb3MgPSBGaXJlYmFzZU9wdGlvbnMoCiAgICBhcGlLZXk6ICcnLAogICAgYXBwSWQ6ICcnLAogICAgbWVzc2FnaW5nU2VuZGVySWQ6ICcnLAogICAgcHJvamVjdElkOiAnJywKICAgIHN0b3JhZ2VCdWNrZXQ6ICcnLAogICAgaW9zQnVuZGxlSWQ6ICcnLAogICk7CgogIHN0YXRpYyBjb25zdCBGaXJlYmFzZU9wdGlvbnMgd2luZG93cyA9IEZpcmViYXNlT3B0aW9ucygKICAgIGFwaUtleTogJycsCiAgICBhcHBJZDogJycsCiAgICBtZXNzYWdpbmdTZW5kZXJJZDogJycsCiAgICBwcm9qZWN0SWQ6ICcnLAogICAgYXV0aERvbWFpbjogJycsCiAgICBzdG9yYWdlQnVja2V0OiAnJywKICAgIG1lYXN1cmVtZW50SWQ6ICcnLAogICk7Cgp9Cg== | base64 -d > lib/firebase_options.dart
          export PATH=${PATH}:/home/zkhan/flutter/bin && xvfb-run flutter test integration_test/app_test.dart -d linux

      - name: Build Flutter
        run: export PATH=${PATH}:/home/zkhan/flutter/bin && flutter build linux --release

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: RaspberryPi
          path: build/linux/arm64/release/bundle/*
