name: MacOS

on: push

jobs:

  build-and-release:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.22.2'

      - name: Install project dependencies
        run: |
          flutter pub get
          brew install create-dmg

      - name: Install project dependencies (realm)
        run: dart run realm_dart install -t macos

      - name: Build artifacts and sign
        run: |
          flutter build macos --release
          echo -n ${{ secrets.MACOS_DIST_CERTIFICATE }} | base64 --decode --output certificate.p12
          # create temporary keychain
          security create-keychain -p test_password sign.keychain
          security default-keychain -s sign.keychain
          security unlock-keychain -p test_password sign.keychain
          security import certificate.p12 -k sign.keychain -P ${{ secrets.MACOS_DIST_CERTIFICATE_PASSWORD }}  -T /usr/bin/codesign
          security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k test_password sign.keychain
          security find-identity
          # sign
          /usr/bin/codesign --force --deep -s LPHGYCR8ZX build/macos/Build/Products/Release/AvareX.app
          # make dmg
          pushd build/macos/Build/Products/Release
          create-dmg \
            --volname "AvareX" \
            --window-pos 200 200 \
            --window-size 800 600 \
            --icon-size 130 \
            --text-size 14 \
            --icon "AvareX.app" 260 250 \
            --hide-extension "AvareX.app" \
            --app-drop-link 540 250 \
            --hdiutil-quiet \
            "AvareX.dmg" \
            "AvareX.app"
          popd
          # sign dmg
          /usr/bin/codesign --force --deep -s LPHGYCR8ZX build/macos/Build/Products/Release/AvareX.dmg
          # delete keychain
          security delete-keychain sign.keychain
          rm certificate.p12

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: MacOS
          path: build/macos/Build/Products/Release/AvareX.dmg
