name: MacOS

on: push

jobs:

  build-and-release:
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.35.1'

      - name: Find and Replace OpenAIP
        uses: richardrigutins/replace-in-files@v2
        with:
          files: '**/*.dart'
          search-text: '@@___openaip_client_id__@@'
          replacement-text: ${{ secrets.OPENAIP_CLIENT_ID }}
          encoding: 'utf8'
          max-parallelism: 10

      - name: Find and Replace ASA
        uses: richardrigutins/replace-in-files@v2
        with:
          files: '**/*.dart'
          search-text: '@@___asa_password__@@'
          replacement-text: ${{ secrets.ASA_PASSWORD }}
          encoding: 'utf8'
          max-parallelism: 10

      - name: Install project dependencies
        run: |
          flutter pub get
          brew install create-dmg

      - name: Install the Apple certificate and provisioning profile
        run: |
          echo -n ${{ secrets.MACOS_DIST_CERTIFICATE }} | base64 --decode --output certificate.p12
          # create temporary keychain
          security create-keychain -p test_password sign.keychain
          security default-keychain -s sign.keychain
          security unlock-keychain -p test_password sign.keychain
          security import certificate.p12 -k sign.keychain -P ${{ secrets.MACOS_DIST_CERTIFICATE_PASSWORD }}  -T /usr/bin/codesign
          security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k test_password sign.keychain

      - name: Run integration tests
        run: |
          security find-identity
          echo aW1wb3J0ICdwYWNrYWdlOmZpcmViYXNlX2NvcmUvZmlyZWJhc2VfY29yZS5kYXJ0JyBzaG93IEZpcmViYXNlT3B0aW9uczsKaW1wb3J0ICdwYWNrYWdlOmZsdXR0ZXIvZm91bmRhdGlvbi5kYXJ0JwogICAgc2hvdyBkZWZhdWx0VGFyZ2V0UGxhdGZvcm0sIGtJc1dlYiwgVGFyZ2V0UGxhdGZvcm07CgpjbGFzcyBEZWZhdWx0RmlyZWJhc2VPcHRpb25zIHsKICBzdGF0aWMgRmlyZWJhc2VPcHRpb25zIGdldCBjdXJyZW50UGxhdGZvcm0gewogICAgaWYgKGtJc1dlYikgewogICAgICByZXR1cm4gd2ViOwogICAgfQogICAgc3dpdGNoIChkZWZhdWx0VGFyZ2V0UGxhdGZvcm0pIHsKICAgICAgY2FzZSBUYXJnZXRQbGF0Zm9ybS5hbmRyb2lkOgogICAgICAgIHJldHVybiBhbmRyb2lkOwogICAgICBjYXNlIFRhcmdldFBsYXRmb3JtLmlPUzoKICAgICAgICByZXR1cm4gaW9zOwogICAgICBjYXNlIFRhcmdldFBsYXRmb3JtLm1hY09TOgogICAgICAgIHJldHVybiBtYWNvczsKICAgICAgY2FzZSBUYXJnZXRQbGF0Zm9ybS53aW5kb3dzOgogICAgICAgIHJldHVybiB3aW5kb3dzOwogICAgICBjYXNlIFRhcmdldFBsYXRmb3JtLmxpbnV4OgogICAgICAgIHRocm93IFVuc3VwcG9ydGVkRXJyb3IoCiAgICAgICAgICAnRGVmYXVsdEZpcmViYXNlT3B0aW9ucyBoYXZlIG5vdCBiZWVuIGNvbmZpZ3VyZWQgZm9yIGxpbnV4IC0gJwogICAgICAgICAgJ3lvdSBjYW4gcmVjb25maWd1cmUgdGhpcyBieSBydW5uaW5nIHRoZSBGbHV0dGVyRmlyZSBDTEkgYWdhaW4uJywKICAgICAgICApOwogICAgICBkZWZhdWx0OgogICAgICAgIHRocm93IFVuc3VwcG9ydGVkRXJyb3IoCiAgICAgICAgICAnRGVmYXVsdEZpcmViYXNlT3B0aW9ucyBhcmUgbm90IHN1cHBvcnRlZCBmb3IgdGhpcyBwbGF0Zm9ybS4nLAogICAgICAgICk7CiAgICB9CiAgfQoKICBzdGF0aWMgY29uc3QgRmlyZWJhc2VPcHRpb25zIHdlYiA9IEZpcmViYXNlT3B0aW9ucygKICAgIGFwaUtleTogJycsCiAgICBhcHBJZDogJycsCiAgICBtZXNzYWdpbmdTZW5kZXJJZDogJycsCiAgICBwcm9qZWN0SWQ6ICcnLAogICAgYXV0aERvbWFpbjogJycsCiAgICBzdG9yYWdlQnVja2V0OiAnJywKICAgIG1lYXN1cmVtZW50SWQ6ICcnLAogICk7CgogIHN0YXRpYyBjb25zdCBGaXJlYmFzZU9wdGlvbnMgYW5kcm9pZCA9IEZpcmViYXNlT3B0aW9ucygKICAgIGFwaUtleTogJycsCiAgICBhcHBJZDogJycsCiAgICBtZXNzYWdpbmdTZW5kZXJJZDogJycsCiAgICBwcm9qZWN0SWQ6ICcnLAogICAgc3RvcmFnZUJ1Y2tldDogJycsCiAgKTsKCiAgc3RhdGljIGNvbnN0IEZpcmViYXNlT3B0aW9ucyBpb3MgPSBGaXJlYmFzZU9wdGlvbnMoCiAgICBhcGlLZXk6ICcnLAogICAgYXBwSWQ6ICcnLAogICAgbWVzc2FnaW5nU2VuZGVySWQ6ICcnLAogICAgcHJvamVjdElkOiAnJywKICAgIHN0b3JhZ2VCdWNrZXQ6ICcnLAogICAgaW9zQnVuZGxlSWQ6ICcnLAogICk7CgogIHN0YXRpYyBjb25zdCBGaXJlYmFzZU9wdGlvbnMgbWFjb3MgPSBGaXJlYmFzZU9wdGlvbnMoCiAgICBhcGlLZXk6ICcnLAogICAgYXBwSWQ6ICcnLAogICAgbWVzc2FnaW5nU2VuZGVySWQ6ICcnLAogICAgcHJvamVjdElkOiAnJywKICAgIHN0b3JhZ2VCdWNrZXQ6ICcnLAogICAgaW9zQnVuZGxlSWQ6ICcnLAogICk7CgogIHN0YXRpYyBjb25zdCBGaXJlYmFzZU9wdGlvbnMgd2luZG93cyA9IEZpcmViYXNlT3B0aW9ucygKICAgIGFwaUtleTogJycsCiAgICBhcHBJZDogJycsCiAgICBtZXNzYWdpbmdTZW5kZXJJZDogJycsCiAgICBwcm9qZWN0SWQ6ICcnLAogICAgYXV0aERvbWFpbjogJycsCiAgICBzdG9yYWdlQnVja2V0OiAnJywKICAgIG1lYXN1cmVtZW50SWQ6ICcnLAogICk7Cgp9Cg== | base64 --decode --output lib/firebase_options.dart
          flutter test integration_test/app_test.dart -d macos

      - name: Build artifacts and sign
        run: |
          security find-identity
          flutter build macos --release
          # sign
          /usr/bin/codesign --force --deep -s LPHGYCR8ZX build/macos/Build/Products/Release/AvareX.app
          # make dmg
          pushd build/macos/Build/Products/Release
          create-dmg \
            --volname "AvareX" \
            --window-pos 200 200 \
            --window-size 800 600 \
            --icon-size 130 \
            --text-size 14 \
            --icon "AvareX.app" 260 250 \
            --hide-extension "AvareX.app" \
            --app-drop-link 540 250 \
            --hdiutil-quiet \
            "AvareX.dmg" \
            "AvareX.app"
          popd
          # sign dmg
          /usr/bin/codesign --force --deep -s LPHGYCR8ZX build/macos/Build/Products/Release/AvareX.dmg
          # delete keychain
          security delete-keychain sign.keychain
          rm certificate.p12

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: MacOS
          path: build/macos/Build/Products/Release/AvareX.dmg
