name: Snap-Linux

on: push

jobs:

  build-and-release:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.35.1'

      - name: Find and Replace OpenAIP
        uses: richardrigutins/replace-in-files@v2
        with:
          files: '**/*.dart'
          search-text: '@@___openaip_client_id__@@'
          replacement-text: ${{ secrets.OPENAIP_CLIENT_ID }}
          encoding: 'utf8'
          max-parallelism: 10

      - name: Find and Replace ASA
        uses: richardrigutins/replace-in-files@v2
        with:
          files: '**/*.dart'
          search-text: '@@___asa_password__@@'
          replacement-text: ${{ secrets.ASA_PASSWORD }}
          encoding: 'utf8'
          max-parallelism: 10

      - name: Login to Firebase
        run: |
          curl -sL https://firebase.tools | bash
          echo -n ${{ secrets.GOOGLE_SERVICES_KEY }} | base64 --decode --output key.json
          export GOOGLE_APPLICATION_CREDENTIALS="key.json"
          dart pub global activate flutterfire_cli
          flutterfire configure --project avarex-479ae --platforms linux --yes

      - name: Update source repo
        run: sudo apt-get update
      - name: Pre-empt libunwind issue for gstreamer
        run: sudo apt-get install -y libunwind-dev
      - name: Install audioplayers dependencies
        run: sudo apt-get install -y libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev
      - name: Install dependencies
        run: sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev liblzma-dev

      - name: Install Snapcraft
        uses: samuelmeuli/action-snapcraft@v2

      - name: Integration Test
        run: xvfb-run flutter test integration_test/app_test.dart -d linux

      - name: Build Snap Image
        run: sudo snapcraft --destructive-mode
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Snap
          path: avarex*.snap
